/* Common_stlye_sheet
================================================== */
@font-face{
	font-family: "klavika";
	src: url('image/font/klavika.otf');
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-rendering: optimizeLegibility
}

/* What_is_Kastee_stylesheet
================================================== */

.first_body {background: url('image/background.jpg'); background-size: 100% 100%; height: 600px; width: 100%;}
.logo {margin-top:4%; margin-left:7%; margin-right:0; position:absolute; max-width: 100%; max-height: 100%;}
.pp {float:right; max-width:100%; max-height:100%; margin-right:14%; margin-top:7%; margin-left:7%; height:auto; width:500px;}
.first_body_title_text {margin-top:0; margin-left: 13%; margin-bottom:0; margin-right:0; padding-top:200px; font-family: "klavika"; font-size: 50px; color: white;}
.first_body_text {font-family: "klavika"; font-size: 25px; color: white; margin-left: 13%; margin-right:0; margin-top:0; margin-bottom:0; float:left;}

.second_body{background: #f26822; height: 650px; width: 100%;}
.second_text {font-family: "klavika"; font-size: 30px; color: white; margin-left: 8%; margin-right:0; margin-top:0; margin-bottom:0;}
.second_logo {margin-left: 6%; margin-right:0; margin-top:7%; margin-bottom:0}
.second_body_image { margin:0; margin-right:10%; margin-top:5%; padding-left:20px; float:right;}

.third_body{background: #1d2e42; height: 650px; width: 100%;}
.third_body_centertext {margin:0; font-family: "klavika"; font-size: 35px; color: white;}
ol li {display:inline-block; padding:7%; font-family: "klavika"; font-size: 20px; color: white; text-align: left;}
/*
.listtext1 {float:left; padding:0; margin:0; font-family: "klavika"; font-size: 15px; color: white; vertical-align:left;}
.listtext2 {float:center; padding:0; margin:0; font-family: "klavika"; font-size: 15px; color: white; vertical-align:left;}
.listtext3 {float:right; padding:0; margin:0; font-family: "klavika"; font-size: 15px; color: white; vertical-align:left;}*/


.fourth_body {background: #f26822; height: 180px; width: 100%;}
.fourth_body_centertext {margin:0; font-family: "klavika"; font-size: 50px; color: #1d2e42;}

.fifth_body {background: #1d2e42; height: 650px; width: 100%;}
.fifth_body_image {margin:0; margin-left:20%; margin-top:5%; padding-right:15%; float:left;}
.fifth_body_title_text { margin:0; font-family: "klavika"; font-size: 65px; color: #f26822;}
.fifth_body_text {margin:0; font-family: "klavika"; font-size: 35px; color: #f26822;}

.sixth_body {background: #f26822; height: 650px; width: 100%;}
.sixth_body_image {margin:0; margin-right:25%; margin-top:5%; padding-left:15%; float:right;}
.sixth_body_title_text {margin:0; font-family: "klavika"; font-size: 65px; color: #1d2e42; margin-left: 20%;}
.sixth_body_text {margin:0; font-family: "klavika"; font-size: 35px; color: #1d2e42; margin-left: 20%;}

.seventh_body {background: #1d2e42; height: 650px; width: 100%;}
.seventh_body_image {margin:0; margin-left:20%; margin-top:5%; padding-right:15%; float:left;}
.seventh_body_title_text {margin:0; font-family: "klavika"; font-size: 65px; color:#f26822;}
.seventh_body_text {margin:0; font-family: "klavika"; font-size: 35px; color:#f26822;}

.eighth_body {background: #f26822; height: 650px; width: 100%;}
.eighth_body_image {margin:0; margin-right:25%; margin-top:5%; padding-left:15%; float:right;}
.eighth_body_title_text { margin:0; font-family: "klavika"; font-size: 65px; color:#1d2e42; margin-left: 20%;}
.eighth_body_text { margin:0; font-family: "klavika"; font-size: 35px; color:#1d2e42; margin-left: 20%;}

.footer {position:relative; bottom:0; overflow:hidden; background-color:#1d2e42; padding:0; width:100%}
.footerbody {float:left; padding-left:15px; color:white; font-family: "klavika"; font-size: auto;}
.footercontact {float:right; padding-right:15px; color:white; font-family: "klavika"; font-size: auto;}
@media print, screen and (max-width: 960px) {
  
  div.wrapper {
    width:auto;
    margin:0;
  }
  
  body, .footer {
    float:none;
    position:static;
    width:auto;
  }
  
}

@media print, screen and (max-width: 720px) {
  .second_body_text {
    word-wrap:break-word;
  }

}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }
  
}

@media print {
  body {
    padding:0.4in;
  }
}

