/* Common_stlye_sheet
================================================== */
@font-face{
	font-family: "klavika";
	src: url('homeimage/font/klavika.otf');
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color:white;
}

a:link, a:visited, a.focus, a.active
{
  color:white;
  text-decoration: none;
}

/* Home_style_sheet
================================================== */
body {
	background: url("homeimage/background.jpg") center center no-repeat fixed;
	background-size: 100% 100%;
	position: absolute;
    width: 100%;
    height: 100%;
	z-index:-1;
}  

.logo {
	margin-top:4%;
	margin-left:7%;
	margin-right:0;
	margin-bottom:7%;
	width:auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.body {
	font-family: "klavika";
	font-size: 25px;
	color: white;
	margin-left: 13%;
	margin-right:0;
	margin-top:0;
	margin-bottom:0;
}

.titlebody {
	margin-top:0;
	margin-left: 13%;
	margin-bottom:0;
	margin-right:0;
	font-family: "klavika";
	font-size: 50px;
	color: white;
	font-weight: bold;

}

.pp {
	float:right;
	max-width:100%;
	max-height:100%;
	width:450px;
	margin-right:14%;
	margin-top:12%;
	height:auto;
}

.footer {
	position:absolute;
	bottom:0;
	overflow:hidden;
	background-color:#f26822;
	padding:0;
	width:100%
}

.footerbody {
	float:left;
	padding-left:15px;
	color:white;
	font-family: "klavika";
	font-size: auto;
}

.about li a:hover {
	color:#1d2e42;
}

.team li a:hover {
	color:#1d2e42;
}

.contact li a:hover {
 	color:#1d2e42;
}


ol {
	list-style-type: none;
}

ol li {
	display:inline;
	float:right;
	padding-left:1%;
	padding-right:1%;
	color:white;
	font-family: "klavika";
	font-size: auto;
}



.wrapper {
	max-width: 100%;
	max-height: 100%;
	position:relative;
	min-height: 100%;
}

@media print, screen and (max-width: 960px) {
  
  div.wrapper {
    width:auto;
    margin:0;
  }
  
  body, .footer {
    float:none;
    position:static;
    width:auto;
  }
  
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }
  
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }
  
}

@media print {
  body {
    padding:0.4in;
  }
}

