/* Common_stlye_sheet
================================================== */
@font-face{
	font-family: "klavika";
	src: url('homeimage/font/klavika.otf');
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color:white;
}

a:link, a:visited, a.focus, a.active
{
  color:white;
  text-decoration: none;
}

/* Home_style_sheet
================================================== */
body {
	background: url("homeimage/background.jpg") center center no-repeat fixed;
	position: absolute;
    width: 100%;
    height: 100%;
	z-index:-1;
}  

#centerlogo {
	margin:0px:;
	padding:0px;
	margin-top:4%;
	margin-left:7%;
	margin-right: auto;
	width:auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

#body {
	font-family: "klavika";
	font-size: 25px;
	color: white;
	vertical-align: middle;
	margin-left: 13%;
}

#titlebody {
	margin-top: 7%;
	margin-left: 13%;
	font-family: "klavika";
	font-size: 60px;
	color: white;
	font-weight: bold;
	vertical-align: middle;
}

#footer {
	position:absolute;
	bottom:0;
	overflow:hidden;
	background-color:#f26822;
	padding:0;
	width:100%
}

#footerbody {
	float:left;
	padding-left:15px;
	color:white;
	font-family: "klavika";
	font-size: auto;
}

#about li a:hover {
	color:#1d2e42;
}

#team li a:hover {
	color:#1d2e42;
}

#contact li a:hover {
 	color:#1d2e42;
}


ol {
	list-style-type: none;
}

ol li {
	display:inline;
	float:right;
	padding-left:1%;
	padding-right:1%;
	color:white;
	font-family: "klavika";
	font-size: auto;
}

#pp {
	float:right;
	max-width:100%;
	max-height:100%;
	margin-right:14%;
	margin-top:7%;
	width:auto;
	height:auto;
}

#container {
	max-width: 100%;
	max-height: 100%;
	position:relative;
	min-height: 100%;
}
