/* IMPORT
================================================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);


/* STYLE CSS
=================================================== */
body {
	background: url("image/background.jpg") repeat-x fixed;
	color:white;
}
#mainlogo {
	padding-top:0px;
	padding-left:150px;
	padding-right:100px;
	margin-right:1px;
	text-align: right;
	position:absolute;
}
#bodyimage {
	margin-top:140px;
	max-width:900px;
	max-height:1600px;
	float:center;

}
#rightbutton {
	max-height:50px;
	max-width:50px;
	float:right;
}
#leftbutton {
	max-height:50px;
	max-width:50px:;

}
li {
	font-family: "Arial", serif;
	font-color:white;
	font-size:20px;
	list-style-type:none;
	display:inline;
	border-top:2px white bold;
	border-bottom: 2px white bold;
	padding:50px;
	padding-top:20px;
	padding-bottom:20px;
	margin:0px;
	float:right;
	border-bottom:solid 2px orange ;
	border-top:solid 2px orange;
	margin-top: 30px

}
ol {
	margin-top:40px;
	margin-right:150px;
	margin-left:10px;
}
p {
	float:left;
}