body {
	background: url("image/background.jpg") fixed;
	color:white;
}
#mainlogo {
	padding-top:0px;
	padding-left:100px;
	padding-right:100px;
	float: left;
	position:absolute;
}
#bodyimage {
	margin-top:180px;
	max-width:900px;
	max-height:1600px;

}
li {
	font-family: "Arial", serif;
	font-color:white;
	font-size:20px;
	list-style-type:none;
	display:inline;
	border-top:2px white bold;
	border-bottom: 2px white bold;
	padding:50px;
	padding-top:20px;
	padding-bottom:20px;
	margin:0px;
	float: right;
	border-bottom:solid 2px orange ;
	border-top:solid 2px orange;
	margin-top:30px;
}
ol {
	margin-top:30px;
	margin-right:100px;


}
p {
	float:left;
}